<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>About us</h5>
                <ul class="list-unstyled quick-links">
                    <li><a>Doan Duc Phuong</a></li>
                    
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Products</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/products/Nike">Nike</a></li>
                    <li><a href="/products/Adidas">Adidas</a></li>
                    <li><a href="/products/Vans">Vans</a></li>
                    <li><a href="/products/Puma">Puma</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Contact us</h5>
                <ul class="list-unstyled quick-links">
                    <li><a>Phone: +123456789</a></li>
                    <li><a>Email: clo@mail.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6">© All right Reversed.</p>
            </div>
            <hr>
        </div>	
    </div>
</section>